[submodule "vim/.vim/plugins/rainbow_csv"]
	path = vim/.vim/plugins/rainbow_csv
	url = https://github.com/mechatroner/rainbow_csv.git
[submodule "vim/.vim/plugins/tcomment"]
	path = vim/.vim/plugins/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/.vim/plugins/vim-easy-align"]
	path = vim/.vim/plugins/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "vim/.vim/plugins/vim-jsonpath"]
	path = vim/.vim/plugins/vim-jsonpath
	url = https://github.com/mogelbrod/vim-jsonpath.git
[submodule "vim/.vim/plugins/vim-lsp"]
	path = vim/.vim/plugins/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "vim/.vim/plugins/vim-lsp-settings"]
	path = vim/.vim/plugins/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings.git
[submodule "vim/.vim/plugins/vim-nerdtree-tabs"]
	path = vim/.vim/plugins/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim/.vim/plugins/nerdtree"]
	path = vim/.vim/plugins/nerdtree
	url = https://github.com/preservim/nerdtree.git
